.container {
  min-height: 100vh;
  background: #171717;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.container-menu{
  background: #0F0F0F;
  padding: 20px;
}

.container-news{
  padding: 20px;
}
